.row {
	/*background-color: blue;*/
	position: relative;
	margin: auto;
	width: 1000px;
	overflow: auto;
	margin-top: 60px;
}

.column {
	/*background-color: red;*/
	width: calc(50% - 50px);
	position: relative;
	float: left;
}

.column:nth-child(2) {
	margin-left: 100px;
}

h1 {
	font-family: "Lato", sans-serif;
	color: #3F3F3F;
	font-weight: 700;
	font-size: 22px;
	margin: 0px;
	margin-left: 10px;
}

input {
	font-family: "Lato", sans-serif;
	border: 2px solid #E7E7E7;
	border-radius: 10px;
	padding: 14px;
	font-size: 16px;
	box-sizing: border-box;
}

textarea {
	font-family: "Lato", sans-serif;
	border: 2px solid #E7E7E7;
	border-radius: 10px;
	padding: 8px 10px;
	font-size: 16px;
	box-sizing: border-box;
	resize: none;
}

input::placeholder, textarea::placeholder {
	font-family: "Lato", sans-serif;
	color: #A1A1A1;
}

[placeholder]:focus::-webkit-input-placeholder {
	opacity: 0;
}

input:focus, textarea:focus {
	border-color: #3F3F3F;
	outline: none;
}

button {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-size: 12px;
	padding: 3px 10px;
	background-color: transparent;
	border: 2px solid #52D3E8;
	border-radius: 8px;
	color: #52D3E8;
	cursor: pointer;
}

button:focus {
	outline: none;
}

select {
	font-family: "Lato", sans-serif;
	-webkit-appearance: none;
	border: 2px solid #E7E7E7;
	border-radius: 10px;
	background-color: white;
	padding: 14px;
	padding-right: 30px;
	font-size: 16px;
	box-sizing: border-box;
	width: 100%;
}

select:focus {
	outline: none;
}

select:hover {
	border-color: #3F3F3F;
	cursor: pointer;
}

select:disabled:hover {
	border-color: #E7E7E7;
	cursor: inherit;
}

select:empty {
	border-color: #E7E7E7;
	cursor: default;
	background-color: #F4F4F4;
}

/* Title */
#titleContainer {
	height: 120px;
}

#titleTextarea {
	width: 100%;
}

#autofillTitle {
	position: absolute;
	left: 8px;
	top: 91px;
}

#searchEbay {
	position: absolute;
	left: 115px;
	top: 91px;
}

.characterCount {
	font-family: "Lato", sans-serif;
	color: #A1A1A1;
	font-size: 12px;
	position: absolute;
	margin: 0px;
	right: 8px;
}

/* Category */
#categoryContainer {
	height: 120px;
}

#categoryDownTriangle {
	font-size: 18px;
	color: #A1A1A1;
	position: absolute;
	right: 2px;
	bottom: 50px;
	padding: 6px 20px;
	pointer-events: none;
	background: -webkit-linear-gradient(left, transparent 0%, white 25%);
}

#categorySelect:hover + #categoryDownTriangle {
	color: #3F3F3F;
}

#categorySelect:empty + #categoryDownTriangle {
	color: #A1A1A1;
	background: none;
}

#categorySelect:disabled + #categoryDownTriangle {
	color: #A1A1A1;
}

#categorySelect option {
	color: black;
}

#categoryText {
	display: none;
	position: absolute;
	left: 16px;
	top: 43px;
	margin: 0px;
	margin-right: 35px;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	pointer-events: none;
}

/* Condition */
#conditionContainer {
	height: 150px;
}

#autofillCondition {
	position: absolute;
	left: 8px;
	top: 129px;
}

#conditionTextarea {
	width: 100%;
}

#glazeCrazingButton {
	position: absolute;
	left: 100px;
	top: 129px;
	border: none;
}

/* Item Specifics */
#itemSpecificsContainer {
	height: 240px;
}

.specificCell {
	position: relative;
	width: 47%;
	height: 61px;
	margin: 5px 0px;
	float: left;
}

.specificCell:nth-child(odd) {
	margin-left: 6%;
}

.itemSpecificLabel {
	font-family: "Lato", sans-serif;
	color: #A1A1A1;
	font-size: 18px;
	padding: 0px 10px;
	white-space: nowrap;
}

.itemSpecificInput {
	padding: 8px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.specificCell select {
	padding: 8px;
}

.itemSpecificDownTriangle {
	font-size: 18px;
	color: #A1A1A1;
	position: absolute;
	right: 2px;
	bottom: 6px;
	padding: 2px 14px;
	pointer-events: none;
	border-radius: 0px 3px 3px 0px;
	background: -webkit-linear-gradient(left, transparent 0%, white 30%);
}

.specificCell select:hover + .itemSpecificDownTriangle {
	color: #3F3F3F;
}

.customItemSpecificInput {
	background: transparent;
	border: none;
	border-radius: 10px 0px 0px 10px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 10px;
	padding-right: 0px;
	width: calc(100% - 40px);
	z-index: 1;
}

.customItemSpecificInput:focus + select {
	border-color: #3F3F3F;
}

/* Description */
#descriptionContainer {
	height: 330px;
}

#descriptionTemplateText {
	font-family: "Lato", sans-serif;
	color: #A1A1A1;
	font-size: 16px;
	margin: 8px 5px;
}

#descriptionTemplateText input {
	width: 80px;
	padding: 8px;
	margin-left: 10px;
	text-align: right;
}

#descriptionTemplateText input:first-child {
	width: 250px;
	margin-left: 0px;
	text-align: left;
}

#descriptionContainer img {
	position: absolute;
	opacity: 0.49;
}

#tallInput:focus + #tallText {
	color: #3F3F3F;
}
#wideInput:focus + #wideText {
	color: #3F3F3F;
}
#longInput:focus + #longText {
	color: #3F3F3F;
}

.imgInput {
	position: absolute;
}

#diameterImg {
	top: 107px;
	left: 20px;
}
#finialImg {
	top: 100px;
	left: 150px;
}
#handleImg {
	top: 100px;
	left: 280px;
}
#painting1Img {
	top: 100px;
	left: 480px;
}
#painting2Img {
	top: 200px;
	left: 480px;
}
#painting3Img {
	top: 100px;
	left: 750px;
}
#painting4Img {
	top: 200px;
	left: 750px;
}

#diameterInput {
	top: 200px;
	left: 10px;
	text-align: center !important;
}
#finialInput {
	top: 200px;
	left: 150px;
	text-align: center !important;
}
#handleInput {
	top: 200px;
	left: 290px;
	text-align: center !important;
}
#painting1Input {
	top: 116px;
	left: 592px;
	text-align: left !important;
}
#painting2Input {
	top: 216px;
	left: 592px;
	text-align: left !important;
}
#painting3Input {
	top: 116px;
	left: 850px;
	text-align: left !important;
}
#painting4Input {
	top: 216px;
	left: 850px;
	text-align: left !important;
}

#diameterInput:focus + #diameterImg {
	opacity: 1;
}
#finialInput:focus + #finialImg {
	opacity: 1;
}
#handleInput:focus + #handleImg {
	opacity: 1;
}
#painting1Input:focus + #painting1Img {
	opacity: 1;
}
#painting2Input:focus + #painting2Img {
	opacity: 1;
}
#painting3Input:focus + #painting3Img {
	opacity: 1;
}
#painting4Input:focus + #painting4Img {
	opacity: 1;
}

#autofillDescription {
	position: absolute;
	left: 38px;
	top: 275px;
}

#doneButton {
	position: absolute;
	left: 140px;
	top: 275px;
}

#descriptionTextarea {
	width: 100%;
}

/* Pictures */
#picturesContainer {
	min-height: 280px;
}

#removePicturesButton {
	display: none;
	font-family: "Lato", sans-serif;
	color: #52D3E8;
	font-size: 16px;
	position: absolute;
	margin: 0px;
	left: 106px;
	top: 5px;
	cursor: pointer;
}

.imageX {
	width: 24px;
	height: 24px;
	position: absolute;
	margin: 0px;
	display: none;
	z-index: 2;
}

#picturesSubheading {
	font-family: "Lato", sans-serif;
	color: #A1A1A1;
	font-size: 18px;
	margin: 5px;
}

#noPicturesText {
	display: none;
	font-family: "Lato", sans-serif;
	color: #A1A1A1;
	border: 2px dashed #E7E7E7;
	border-radius: 6px;
	font-size: 18px;
	width: 150px;
	height: 120px;
	padding: 35px 0px;
	line-height: 25px;
	margin: auto;
	margin-top: 30px;
	text-align: center;
	box-sizing: border-box;
}

.image {
	margin: 5px;
	border: 2px solid #E7E7E7;
	border-radius: 6px;
	background-color: white;
	padding: 5px;
	object-fit: contain;
	width: 128px;
	height: 96px;
	float: left;
	z-index: 1;
}

.imageSelectable {
	width: 256px;
	height: 192px;
	margin: 10px 30px;
}

.imageSelectable:hover {
	border-color: #3F3F3F;
	cursor: pointer;
}

.imageSelectable:active {
	border-color: #E7E7E7;
}

.emptyImage {
	margin: 5px;
	padding: 5px;
	border: 2px dashed #E7E7E7;
	border-radius: 6px;
	background-color: #F4F4F4;
	background-clip: content-box;
	width: 128px;
	height: 96px;
	float: left;
}

#placeholderImage {
	margin: 5px;
	padding: 5px;
	border: 2px dashed #52D3E8;
	border-radius: 6px;
	background-color: #E1EEF0;
	background-clip: content-box;
	width: 128px;
	height: 96px;
	float: left;
	display: none;
}

/* Selling Details - Price */
#sellingDetailsContainer {
	height: 220px;
}

#priceInputText {
	font-family: "Lato", sans-serif;
	color: #A1A1A1;
	font-size: 18px;
	margin: 8px 5px 20px;
}

#priceInput {
	padding-left: 30px;
	width: 160px;
	font-size: 18px;
}

#dollarSign {
	position: relative;
	left: 25px;
	font-weight: 700;
	font-size: 18px;
}

#handlingFeeText {
	font-family: "Lato", sans-serif;
	color: #52D3E8;
	font-size: 12px;
	position: absolute;
	margin: 0px;
	top: 92px;
	left: 70px;
	cursor: pointer;
}

#handlingFeeInput {
	padding: 6px;
	padding-left: 20px;
	width: 50px;
	font-size: 16px;
	margin-left: -5px;
}

#handlingFeeDollarSign {
	position: relative;
	left: 12px;
	font-weight: 700;
	font-size: 16px;
}

/* Selling Details - Custom Radio Buttons */
#priceFormatContainer {
	position: absolute;
	left: 50px;
	margin-top: 5px;
}

.radioInputContainer {
	position: relative;
	margin: 10px 0px;
	width: 140px;
	height: 26px;
}

.radioText {
	position: absolute;
	left: 40px;
	top: 1px;
	font-family: "Lato", sans-serif;
	color: #A1A1A1;
	font-size: 18px;
	pointer-events: none;
}

.radioInputContainer input {
	opacity: 0;
}

.customRadioButton {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 26px;
	height: 26px;
	border: 2px solid #E7E7E7;
	border-radius: 50%;
	box-sizing: border-box;
}

.radioInputContainer:hover {
	cursor: pointer;
}

.customRadioButton::after {
	content: "";
	position: absolute;
	display: none;
}

.radioInputContainer input:checked ~ .customRadioButton::after {
	display: block;
	color: red;
}

.radioInputContainer input:checked ~ .radioText {
	color: #52D3E8;
}

.radioInputContainer .customRadioButton::after {
	top: 4px;
	left: 4px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #52D3E8;
}

/* Dimensions */
#dimensionsInputText {
	font-family: "Lato", sans-serif;
	color: #A1A1A1;
	font-size: 16px;
	margin: 8px 5px;
}

#dimensionsInputText input {
	width: 60px;
	padding: 8px;
	text-align: right;
}

/* International Shipping */
#shippingContainer {
	cursor: pointer;
	width: 120px;
	overflow: auto;
	margin-top: 10px;
}

#internationalShippingCheckbox {
	width: 12px;
	height: 12px;
	border: 2px solid #E7E7E7;
	border-radius: 8px;
	float: left;
	background-clip: content-box;
	background-color: #52D3E8;
	padding: 3px;
}

#internationalShippingText {
	font-family: "Lato", sans-serif;
	color: #A1A1A1;
	margin: 0px;
	float: left;
	margin-left: 5px;
	pointer-events: none;
}

/* Weight */
#weightInputText {
	font-family: "Lato", sans-serif;
	color: #A1A1A1;
	font-size: 16px;
	margin: 8px 5px;
}

#weightInputText input {
	width: 60px;
	padding: 8px;
	text-align: right;
}

/* List Item */
#listItemButton {
	position: relative;
	color: white;
	background-color: #46E08D;
	border: none;
	font-size: 20px;
	font-weight: 400;
	width: 200px;
	height: 45px;
	left: calc(50% - 100px);
	margin: 20px 0px 80px;
}

#listItemButton:disabled {
	cursor: inherit;
	background-color: #BFEDD4;
}

/* List Status */
#listStatusContainer {
	margin-top: -30px;
	display: none;
}

#horizontalLine {
	width: 600px;
	height: 2px;
	background-color: #E7E7E7;
	margin: auto;
}

#listStatus {
	width: 300px;
	height: 60px;
	padding-top: 40px;
	margin: auto;
}

#listStatus img {
	float: left;
	transform: translate(4px, 4px);
}

#listStatus h1 {
	float: left;
}

#listStatus button {
	float: right;
}

#listStatusContainer p {
	font-family: "Lato", sans-serif;
	color: #A1A1A1;
	font-size: 16px;
	width: 600px;
	text-align: center;
	margin: auto;
	padding-bottom: 30px;
}